@media (min-width: 1949px) {
  .wrapper {
    margin-inline: auto;
  }
}

@media (max-width: 1604px) {
  nav .button {
    display: none;
  }
}

@media (max-width: 1410px) {
  nav .menu .social-links {
    display: none;
  }
}

@media (max-width: 768px) {
  .side-by-side {
    flex-direction: column;
    gap: 4rem;
  }

  nav .menu {
    display: none;
  }

  nav .toggle-menu {
    display: block;
  }

  header svg {
    width: 34rem;
    height: 34rem;
  }
}

@media (max-width: 592px) {
  .divider {
    width: 50vw;
  }
}
