* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  font-size: 62.5%;

  --gradient-blue: linear-gradient(
    180deg,
    #05e0c6 0%,
    rgba(82, 101, 137, 0.64) 100%
  );

  --hue: 37;

  --primary-color: hsl(var(--hue), 95%, 56%);

  --linkedin-color: #0a3586;
  --light-gray: #d9d9d9;

  --divider-color: #bcbcbc;

  --ff-primary: 'Lexend', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
}

html {
  overflow: overlay;

  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body * {
  font-family: var(--ff-primary);
}

.side-by-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.wrapper {
  margin-inline: clamp(3.2rem, 2rem + 3vw, 11.7rem);

  max-width: 180rem;
}

.hide {
  display: none;
}

h2 {
  margin-bottom: 5rem;

  font-weight: 600;
  font-size: clamp(3rem, 1rem + 3vw, 4.8rem);
  line-height: 6rem;

  text-align: center;
}

p {
  font-weight: var(--fw-regular);
  font-size: clamp(1.7rem, 0.6rem + 1.3vw, 2.4rem);
  line-height: clamp(2.55rem, 0.91rem + 1.82vw, 3.6rem);
}

.divider {
  height: 1px;
  width: 40rem;

  background: var(--divider-color);

  margin-inline: auto;

  margin-block: 6rem 8rem;
}

.button {
  display: inline-block;

  background: var(--light-gray);

  padding: 1.8rem 2.3rem;

  border: none;
  border-radius: 1.1rem;

  font-size: 1.8rem;
  line-height: 2.2rem;

  color: black;

  transition: 300ms;
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

.scroll-to-top {
  animation: FadeInTop 600ms;

  background-color: white;

  padding: 0.7rem 0.5rem;

  border: black solid 1px;
  border-radius: 50%;

  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.scroll-to-top:hover svg {
  animation: 500ms ArrowAnimation infinite;
}

ul.social-links {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}

ul.social-links a {
  border: 1px solid black;
  border-radius: 50%;

  padding: clamp(1.2rem, 1rem + 1vw, 2.2rem);

  transition: 300ms;
  cursor: pointer;
}

ul.social-links a:nth-child(2) {
  border: 1px solid var(--linkedin-color);
}

ul.social-links svg {
  width: 3.2rem;
  height: 3.2rem;
}

ul.social-links a:hover {
  background-color: black;
}

ul.social-links a:nth-child(2):hover {
  background-color: var(--linkedin-color);
}

ul.social-links a:hover svg path {
  fill: white;
}
